@model HomeIndexViewModel
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 style="margin-left:200px">Ticket Status</h4>
            <div id="chart1"></div>
        </div>

        <div class="col-md-6">
            <h4 style="margin-left:200px">Ticket Status</h4>
            <div id="chart2"></div>
        </div>
        <div class="col-md-6">
            <h4 style="margin-left:200px">Ticket Status</h4>
            <div id="chart3"></div>
        </div>
        <div class="col-md-6">
            <h4 style="margin-left:200px">Ticket Status</h4>
            <div id="chart4"></div>
        </div>



        .......

    </div>
    </div>

    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Ticket Status');
            data.addColumn('number', 'Percentage');
            data.addRows([
                ['New', @Model.newCount],
                ['In Progress', @Model.inProgressCount],
                ['Pending Response', @Model.pendingResponseCount],
                ['Pending Pickup', @Model.pendingResponseCount]
            ]);

            // Simple Pie Chart:
            var option = {
                title: 'Ticket Status',
                width: 500,
                height: 400
            };
            option.is3D = true;
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);

            //3D Pie Chart:
            
            chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, option);

            // Exploded Pie Chart:
            option.is3D = false;
            option.slices = {
                1: { offset: 0.3 },
                3: { offset: 0.5 }
            };
            chart = new google.visualization.PieChart(document.getElementById('chart3'));
            chart.draw(data, option);

            // Exploded 3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart4'));
            chart.draw(data, option);
        }
        </script>
    }
