<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_LayoutHeadPartial")
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_LayoutScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>