@model UserEditViewModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            
                <table class="table-responsive table-striped">
                    <tr class="panel">
                        <th class="panel-heading">First Name</th>
                        <th class="panel-heading">Last Name</th>
                        <th class="panel-heading">Phone</th>
                        <th class="panel-heading">E-mail</th>
                        <th class="panel-heading">Roles</th>
                        <th class="panel-heading">Active</th>

                    </tr>
                    <tr class="panel-default">
                        <td class="panel-body">@Model.User.FirstName</td>
                        <td class="panel-body">@Model.User.LastName</td>
                        <td class="panel-body">@Model.User.Phone</td>
                        <td class="panel-body">@Model.User.Email</td>
                        <td class="panel-body">@foreach (var role in Model.Roles)
                        {
                            @role;
                        }</td>
                        
                    </tr>
                </table>
            
        </div>
    </div>
</div>