@model UserEditViewModel
@{ ViewBag.Title = "Edit User Account";}
<div class="topFormPanel col-md-12">@ViewBag.Title</div>
<div class="col-md-12 topFormPanel">
    <h2>@ViewBag.Title</h2>
</div>
<div class="col-md-12 bottomFormPanel">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All"></div>
        <table class="col-md-3 table table-hover">
            <tr>
                <td><label asp-for="User.FirstName"></label></td>
                <td><input asp-for="User.FirstName" /></td>
                <td><span asp-validation-for="User.FirstName"></span></td>
            </tr>
            <tr>
                <td><label asp-for="User.LastName"></label></td>
                <td><input asp-for="User.LastName" /></td>
                <td><span asp-validation-for="User.LastName"></span></td>
            </tr>
            <tr>
                <td><label asp-for="User.Phone"></label></td>
                <td><input id="sid" size="11" asp-for="User.Phone" placeholder="999-999-999" pattern="\d{3}-?\d{3}-?\d{4}" onkeyup="mask(this, stuid);" onblur="mask(this, phone)" /></td>
                <td><span asp-validation-for="User.Phone"></span></td>
            </tr>
            <tr>
                <td><label asp-for="User.Email"></label></td>
                <td><input asp-for="User.Email" /></td>
                <td><span asp-validation-for="User.Email"></span></td>
            </tr>

        </table>
        <input asp-for="User.Id" type="hidden" />
        <div class="btn-group">
            <input class="btn btn-warning" type="submit" value="Edit this customer" />
        </div>
    </form>
</div>
