/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.topFormPanel {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding: 20px
}

.bottomFormPanel {
    background-color: lightseagreen;
    flex-direction: column;
    min-height: 10vh;
    padding: 20px
}

.btn-group {
    padding: 10px;
}

/*NavBar*/
.navbar {
    border-bottom: 1px, solid #dadada;
    background-color: #00ffff;
}

.dropdown.pull-right {
    padding-top: 0px;
}

#user-dropdown {
    padding: 7px;
}

.navbar-right > li {
    padding-top: 18px;
    color: #555;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid #dadada;
    border-radius: 2px;
    box-shadow: none;
}

    .dropdown-menu li > a {
        color: #666c74;
        padding: 15px 40px 15px 20px;
    }

.nav-button{
    margin:10px;
}
/*NavBar*/