@import "overrides.scss";
@import "../lib/bootstrap/scss/bootstrap.scss";

* {
    font-family: 'Lato', sans-serif;
}

main {
    background-color: $chips-lightgray;
    margin-top: 6rem;
}

#primaryNav {
    .navbar-brand {
        margin: 0;
        img {
            height: 40px;
        }
    }
    .navbar-toggler {
        padding: .25rem;
    }
}

#secondaryNav {
    padding: 0;
    border-top: 2px solid $chips-red;
    font-weight: bold;
    .navbar-nav {
        max-width: 30rem !important;
    }
}

/*navbar dropdown search bars*/
/*.navbar .dropdown .input-group {
    min-width: 15rem !important;
    margin-left: -.75rem;
    margin-right: -.75rem;
}
*/


// old styles

/* QR code generator */
#qrCode {
    margin: 15px;
}

.btn-group {
    padding: 10px;
}