@model NewDeviceDetailsViewModel
@{ ViewBag.Title = "Device Details";}
<div class="topFormPanel col-md-12">
    <h2>@ViewBag.Title</h2>
</div>

<div class="col-md-12 bottomFormPanel">

        <div asp-validation-summary="All"></div>
        <table class="col-md-3 table table-hover">
            <tr>
                <td><label asp-for="Make"></label></td>
                <td><input disabled asp-for="Make" /></td>
                <td><span asp-validation-for="Make"></span></td>
            </tr>
            <tr>
                <td><label asp-for="ModelNumber"></label></td>
                <td><input disabled asp-for="ModelNumber" /></td>
                <td><span asp-validation-for="ModelNumber"></span></td>
            </tr>
            <tr>
                <td><label asp-for="OperatingSystem"></label></td>
                <td><input disabled asp-for="OperatingSystem" /></td>
                <td><span asp-validation-for="OperatingSystem"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input disabled asp-for="Password" /></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Serviced"></label></td>
                <td><input disabled asp-for="Serviced" /></td>
                <td><span asp-validation-for="Serviced"></span></td>
            </tr>
        </table>
        <input asp-for="CustomerId" type="hidden" />
        <input asp-for="Id" type="hidden" />
        <a class="btn btn-warning" asp-controller="Device" asp-action="Edit" asp-route-deviceId="@Model.Id">Edit this device</a>
</div>
