@model Device
@{ ViewBag.Title = "Edit Device";}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for=""></label></td>
        </tr>
    </table>
</form>
