@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4 id="register-panel-heading">Login</h4>
        <div class="panel register-panel">
            <div class="panel-body register-panel-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="icon-addon">
                            <input asp-for="Input.UserName" class="form-control" type="text" placeholder="Login" />
                            <label for="Input.UserName" class="glyphicon glyphicon-envelope" />
                            
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="icon-addon">
                            <input asp-for="Input.Password" class="form-control" type="text" placeholder="Password" />
                            <label for="Input.Password" class="glyphicon glyphicon-lock" />
                            
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default login-submit">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
            
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
