@model LogEditViewModel
@{ViewBag.Title = "Create a log";}
<h2>@ViewBag.Title</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="TicketId"></label></td>
            <td><input asp-for="TicketId" /></td>
            <td><span asp-validation-for="TicketId"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Notes"></label></td>
            <td><textarea asp-for="Notes"></textarea></td>
            <td><span asp-validation-for="Notes"></span></td>
        </tr>
    </table>
    <input type="submit" value="create" />
</form>