@model NewLogServiceViewModel
<form asp-action="Service" method="post">
    <div asp-validation-summary="All"></div>
    <div class="col-md-16 topFormPanel">
        <div class="row pull-right">
            <label class="col-md-2" asp-for="TicketNumber"></label>
            <input class="col-md-2" asp-for="TicketNumber" readonly="readonly" />
        </div>
    </div>
    <div class="col-md-12 bottomFormPanel">
        <div class="row">
            <label asp-for="SelectedEventId" class="col-md-2"></label>
            @Html.DropDownListFor(vm => vm.SelectedEventId, Model.Events, new { @class = "form-control" })
            <span asp-validation-for="SelectedEventId"></span>
        </div>
        <div class="row">
            <label asp-for="LogNotes" class="col-md-2"></label>
            <textarea asp-for="LogNotes" rows="5" class="col-md-5"></textarea>
            <span asp-validation-for="LogNotes"></span>
        </div>
        <input type="hidden" asp-for="TicketId" />
        <input type="hidden" asp-for="TicketStatus" />
        <input class="btn btn-group btn-success" type="submit" value="Save Service" />
    </div>
</form>