@model LogEditViewModel
<form asp-action="Service" method="post">
    <div asp-validation-summary="All"></div>
    <div class="col-md-16 topFormPanel">
        <div class="row pull-right">
            <label class = "col-md-2" asp-for="TicketNumber"></label>
            <input class = "col-md-2" asp-for="TicketNumber" readonly="readonly"/>
        </div>
    </div>
    <div class="col-md-12 bottomFormPanel">
        <div class="row">
            <label asp-for="LogType" class="col-md-2"></label>
            <select class="col-md-2" asp-for="LogType" asp-items='Html.GetEnumSelectList<LogType>().Where(x => x.Value != "0").Where(x => x.Value != "15").Where(x => x.Value != "2")'></select>
            <span asp-validation-for="LogType"></span>
        </div>
        <div class="row">
            <label asp-for="Notes" class="col-md-2"></label>
            <textarea asp-for="Notes" rows="5" class="col-md-5"></textarea>
            <span asp-validation-for="Notes"></span>
        </div>
        <input type="hidden" asp-for="TicketId" />
        <input type="hidden" asp-for="TicketStatus" />
        <input class="btn btn-group btn-success" type="submit" value="Save Service" />
    </div>
</form>