@model Ticket
@{ ViewBag.Title = $"Edit Ticket #{Model.Id.ToString()}";}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="DeviceId"></label></td>
            <td><input asp-for="DeviceId" /></td>
            <td><span asp-validation-for="DeviceId"></span></td>
        </tr>
        <tr>
            <td><label asp-for="CheckInDate"></label></td>
            <td><input asp-for="CheckInDate" /></td>
            <td><span asp-validation-for="CheckInDate"></span></td>
        </tr>
        <tr>
            <td><label asp-for="CheckOutDate"></label></td>
            <td><input asp-for="CheckOutDate" /></td>
            <td><span asp-validation-for="CheckOutDate"></span></td>
        </tr>
        <tr>
            <td><label asp-for="FinishDate"></label></td>
            <td><input asp-for="FinishDate" /></td>
            <td><span asp-validation-for="FinishDate"></span></td>
        </tr>
        <tr>
            <td><label asp-for="CheckInUserId"></label></td>
            <td><input asp-for="CheckInUserId" /></td>
            <td><span asp-validation-for="CheckInUserId"></span></td>
        </tr>
        <tr>
            <td><label asp-for="CheckOutUserId"></label></td>
            <td><input asp-for="CheckOutUserId" /></td>
            <td><span asp-validation-for="CheckOutUserId"></span></td>
        </tr>
        <tr>
            <td><label asp-for="NeedsBackup"></label></td>
            <td><input asp-for="NeedsBackup" /></td>
            <td><span asp-validation-for="NeedsBackup"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Status"></label></td>
            <td><select asp-for="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()"></select></td>
            <td><span asp-validation-for="Status"></span></td>
        </tr>

    </table>
    <input type="submit" value="Edit"  />
</form>