@model IEnumerable<TicketHomeViewModel>
@{ ViewBag.Title = "Ticket Home";}
<div class="col-md-12 topFormPanel">
    <h2>@ViewBag.Title</h2>
    </div>


<div class="col-md-12 bottomFormPanel">
    <form asp-action="FilterByStatus" method="post">
        <select onchange="this.form.submit()" name="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()">
            <option disabled selected>Filter By Status</option>
            <option value="All">All</option>
        </select>
    </form>
    
    @foreach (var ticketView in Model)
    {
        
        @await Html.PartialAsync("_Home", ticketView)
    }
 </div>