@model IEnumerable<TicketHomeViewModel>
@{ ViewBag.Title = "Ticket Home";}
<div class="col-md-12 topFormPanel">
    <h2>@ViewBag.Title</h2>
    </div>


<div class="col-md-12 bottomFormPanel">
    @foreach (var ticketView in Model)
    {

        @await Html.PartialAsync("_Home", ticketView)
    }
 </div>