@model IEnumerable<TicketHomeViewModel>
@{ ViewBag.Title = "Ticket Home";}
<h2>@ViewBag.Title</h2>



    @foreach (var ticketView in Model)
    {

        @await Html.PartialAsync("_Home", ticketView)
    }
